<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="templates/template/css.css" type="text/css" />
</head><body>
<div class="main_right">
<div class="title"><img src="templates/template/images/ico_clew_yes.gif" border="0"/>&nbsp;<a>服务器信息</a></div>
<table cellspacing="0">
<tr><td class="table_left">操作系统：</td><td>{$operatersystem}</td></tr>
<tr><td class="table_left">服务器运行方式：</td><td>{$cgi}</td></tr>
<tr><td class="table_left">PHP版本：</td><td>{$phpversion}</td></tr>
<tr><td class="table_left">MySQL版本：</td><td>{$mysql_version}</td></tr>
<tr><td class="table_left">Apache版本：</td><td>{$software}</td></tr>
</table>
<div class="title"><img src="templates/template/images/ico_clew_yes.gif" border="0"/>&nbsp;<a>系统信息</a></div>
<table cellspacing="0">
<tr><td class="table_left">网站访问统计：</td><td>{$webcount}</td></tr>
<tr><td class="table_left">专辑总数：</td><td>{$album}</td></tr>
<tr><td class="table_left">歌曲总数：</td><td>{$music}</td></tr>
<tr><td class="table_left">文件服务器总数：</td><td>{$server}</td></tr>
<tr><td class="table_left">评论条数：</td><td>{$comment}</td></tr>
</table>
</div>
</body>
</html>