<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="templates/template/css.css" type="text/css" />
</head>
<body>
<div class="top">
<div class="name">somethingmusic音乐电台后台管理</div>
<div class="content">当前IP：{$ip}。{$username}&nbsp;欢迎回来！现在共有&nbsp;<font><a href="error_info.php" title="立刻处理" target="right">{$question}</a></font>&nbsp;条错误尚未处理，请尽快处理！谢谢！</div>
</div>
</body>
</html>