<div class="user_album">
<div style="color:#d06e6f; font-size:16px; margin-bottom:10px; width:100%;border-bottom:#d6d6d6 1px dashed; line-height:40px">创建专辑</div>

<form action="{$base_url}api.php?skin=gray&action=user&mod=album_submit" method="post" enctype="multipart/form-data">
<table class="user_album_info" cellpadding="5" cellspacing="0" border="0">
<tr><td class="td">专辑名称</td><td><input id="user_album_name" type="text" name="name" class="text" style="width:200px; margin-right:3px"/><font color="8ad1e9">类型</font>
<select name="category" id="user_album_category">
<option value="">=选择类型=</option>
{foreach from=$rs item=r}
<option value="{$r.smallcategory}">{$r.smallcategory}</option>
{/foreach}
</select>
</td><td rowspan="3" valign="top"><img src="{$base_url}templates/template/gray/images/no_album_pic.png" width="150" height="150" id="pic"/><br/><div class="input-file">上传封面<input type="file" name="pic" id="pic"></div></td></tr>
<tr><td valign="top" class="td">歌手名称</td><td><input id="user_album_artist" type="text" name="artist" class="text" style="width:330px;"/></td></tr>
<tr><td valign="top" class="td">专辑简介</td><td><textarea id="user_album_text" name="text" class="text" style="width:325px; height:130px"></textarea></td></tr>
<tr><td colspan="3" class="td" style="border-bottom:#d6d6d6 1px dashed">地址列表</td></tr>
<tr><td colspan="3" style="color:#CCC">url格式：&nbsp;http://www.yoururl.com/mymp3.mp3(请保证该url能被下载！)</td></tr>
{section name="i"  loop=5}
<tr class="tr"><td colspan="3">
<div><input type="text" name="song_url[]" class="text url" style="width:390px; margin-right:10px" value="请填写歌曲的url地址，目前只支持mp3文件..." onclick="this.value='http://'" autocomplete="off"/><input type="text" name="song_title[]" class="text song_title" style="width:140px;" value="请填写歌曲名称..." onclick="this.value=''" autocomplete="off"/></div><div class="close" title="删除本地址栏" onClick="this.parentNode.parentNode.removeChild(this.parentNode)">&nbsp;x</div></td></tr>
{/section}
</table>
<table width="99%" cellpadding="5" cellspacing="0" border="0" style="float:left"><tr><td align="right"><input type="button" value="增加" class="btn" id="add_btn"/ title="增加一个地址栏">&nbsp;&nbsp;&nbsp;<input type="submit" class="btn" value="完成" id="add_album_finish"/>&nbsp;&nbsp;&nbsp;</td></tr></table>
</form>
</div>
{include file="ad.html"}

<div class="maybelike" style="margin-left:30px">
  <div class="title"><img src="{$base_url}templates/template/gray/images/maybelike.png" border="0" width="120" height="20" align="absmiddle"/></div>
  <div class="next"><a href="javascript:void(0)" id="maybelike" title="换一批"><img src="{$base_url}templates/template/gray/images/next.png" border="0"/></a></div>
  <ul><li class="onlyone">加载中...</li></ul>
</div>