<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{foreach item=s from=$system}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="{$s.seo}"/>
<meta http-equiv="description" content="{$s.description}"/>
<link rel="stylesheet" href="templates/template/deafault/css/css.css" type="text/css" />
<!--[if IE]><link rel="stylesheet" href="templates/template/deafault/css/jquery.fancybox-1.3.1-ie.css" type="text/css" /><![endif]-->
<!--[if IE]><link rel="stylesheet" href="templates/template/deafault/css/all_ie.css" type="text/css" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="templates/template/deafault/css/ie6.css" type="text/css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="templates/template/deafault/css/ie7.css" type="text/css" /><![endif]-->
<title>{$s.webtitle}</title>
</head>
{/foreach}
<body>
<!--初始化播放器-->
<div id="jquery_jplayer"></div>
<!--头部-->
<div class="header">
<a href="{$base_url}" title="{$s.webtitle}"><img src="pic.php?src=templates/template/deafault/images/logo.png&w=107&h=35&zc=0&q=100" width="107" height="35" alt="logo" border="0"/></a>
<ul>
<li><a href="http://dh.gzauto.edu.cn/vod" target="_blank">点播系统</a></li>
<li><a href="http://qcc.gzauto.edu.cn" target="_blank">汽车文化</a></li>
<li><a href="#">飞车坊▼</a></li>
</ul>
</div>
<!--导航栏-->
<div class="nav">
<ul>
<li><a href="{$base_url}" title="网站首页">{if $active=='index'}<font color="#ff0066">首页</font>{else}首页{/if}</a></li>
<li><a href="radio.php" title="音乐电台">{if $active=='radio'}<font color="#ff0066">电台</font>{else}电台{/if}</a></li>
<li><a href="resources.php" title="本站资源">{if $active=='resources' || $active=='album'}<font color="#ff0066">资源</font>{else}资源{/if}</a></li>
<li><a href="musician.php?action=all" title="音乐人介绍">{if $active=='musician'}<font color="#ff0066">音乐人</font>{else}音乐人{/if}</a></li>
<li><a href="introduce.php?action=all" title="音乐推荐文章">{if $active=='introduce' || $active=='content'}<font color="#ff0066">推荐</font>{else}推荐{/if}</a></li>
</ul>
<!--搜索栏-->
<div class="search">
<form action="">
<input type="text" class="search_input"/>
<div class="submit" title="搜！"><input type="image" src="templates/template/deafault/images/search.png" width="18" height="18"/></div>
</form></div>
</div>
<style>
.s a{ color:#ff0066; text-decoration:none}
.s a:hover { text-decoration:underline}
</style>
<!--网站主体-->
<div class="body">
<div class="main" style="height:700px">
{if $type=='error_yzm'}
{*验证码错误*}
<div style="width:100%; text-align:center; font-size:14px; margin-top:300px" class="s"><img src="{$base_url}templates/template/deafault/images/error.png" width="30" height="30" alt="验证码错误" align="absmiddle" style="margin-right:10px"/>{$str}您可以点击&nbsp;<a href="content.php?id={$sss}#say">后退</a>&nbsp;重新填写，或者返回&nbsp;<a href="{$base_url}">首页</a>&nbsp;。</div>
{elseif $type=='not_found'}
{*找不到符合条件的结果*}
{elseif $type=='topic'}
<div style="width:100%; text-align:center; font-size:14px; margin-top:300px" class="s"><img src="{$base_url}templates/template/deafault/images/error.png" width="30" height="30" alt="验证码错误" align="absmiddle" style="margin-right:10px"/>{$str}您可以点击&nbsp;<a href="{$sss}#say">后退</a>&nbsp;重新填写，或者返回&nbsp;<a href="{$base_url}">首页</a>&nbsp;。</div>
{/if}
{include file='foot.html'}