<style>
.left, .right {
	margin-left:20px
}
</style>
<!--[if IE 6]><style>.left{ margin-left:10px}</style><![endif]-->
<!--左边-->
<div class="left"> 

 <!--专题-->
 <!-- <div class="week">
    <div class="title_div"><span class="title">音乐专题列表</span><a style="float:right;font-size:12px;color:#666;text-decoration:none" href="introduce.php?skin=deafault&action=more_topic" title="更多音乐专题">更多</a></div>
    <div class="content">
      <ul>
        {foreach from=$topic item=s}
        <li><a href="introduce.php?skin=deafault&action=content_list&id={$s.id}" title="{$s.name}">{$s.name}</a></li>
        {/foreach}
      </ul>
    </div>
  </div>-->
  <!--专题--> 
  
  
  <!--每周热点-->
  <div class="week">
    <div class="title_div"><span class="title">每周热点</span><a style="float:right;font-size:12px;color:#666;text-decoration:none" href="introduce.php?skin=deafault&action=list" title="更多音乐推荐文章">更多</a></div>
    {foreach from=$content item=s}
    <div class="content">
      <ul>
        <li class="title"><a href="content.php?skin=deafault&id={$s.id}" title="{$s.title}">{$s.title|trim}</a></li>
        <li class="time">{$s.time}</li>
        <li><a href="content.php?skin=deafault&id={$s.id}" title="{$s.title}"><img src="thumbs/thumbs/cache/w575h270/admin/{$s.pic}" border="0" width="575" height="270" alt="{$s.title}"/></a></li>
        <li class="text">{$s.content|truncate:165}</li>
      </ul>
    </div>
    {/foreach} </div>
  <!--每周热点--> 
  
 
</div>
<!--右边-->
<div class="right"> 
  <!--随机专辑-->
  <div class="rand_album">
    <div class="title_div"><span class="title">随机专辑推荐</span></div>
    <ul>
      {foreach from=$random item=s}
      <li><a href="album.php?skin=deafault&id={$s.id}" title="{$s.artist}-{$s.title}"><img src="{$base_url}thumbs/thumbs/cache/w190h190/admin/{$s.picture}" border="0" width="100" height="100" alt="{$s.artist}-{$s.title}"/></a></li>
      {/foreach}
    </ul>
  </div>
  
  <!--热门文章-->
  <div class="rand">
    <div class="title_div"><span class="title">热门文章</span></div>
    <ul>
      {foreach from=$hot item=s}
      <li><a href="content.php?skin=deafault&id={$s.id}" title="《{$s.title|trim}》阅读次数：{$s.click}">{$s.title|trim}({$s.click})</a></li>
      {/foreach}
    </ul>
  </div>
  
  <!--最新评论-->
  <div class="rand">
    <div class="title_div"><span class="title">最新评论</span></div>
    <ul>
      {foreach from=$read_comment item=s}
      <li>{$s.name|trim}：<a href="content.php?skin=deafault&id={$s.content_id}#ok{$s.id}" title="{$s.name}说：{$s.text}">{$s.text|truncate:42|trim}</a></li>
      {/foreach}
    </ul>
  </div>
</div>
{include file='foot.html'}